[submodule "wp/example-plugin"]
	path = wp/example-plugin
	url = https://github.com/BaileyKeenan-Sundin/example-plugin.git
	branch = main
[submodule "wp/ap-theme"]
	path = wp/ap-theme
	url = https://github.com/BaileyKeenan-Sundin/ap-theme.git
	branch = main
